{% extends 'base.html' %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form_multi_select.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script src="{% static 'js/scroll_horizon.js' %}"></script>
<script>
    const sourceParts = window.location.href.split("/");
    const BASE_URL = sourceParts[0] + "//" + sourceParts[2];

    $(document).ready(function () {
        $(".js-example-basic-multiple").select2();
    });

    async function funcForUersFavCatSelected(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/user_categories";
        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                users_fav_cat_selected: $("#users_fav_cat_selected").select2(
                    "data"
                ),
            }),
        });
    }
    async function funcForUsersFavEntSelected(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/user_entertainers";
        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                select_entertainers: $("#select_entertainers").select2("data"),
            }),
        });
    }
</script>

{% if request.user.is_superuser %}
<button class="button_outlined">
    <a href="/event/create_event"> Create new event </a>
</button>
{% endif %}
<div class="dashboard_body">
    <div class="ticket_and_favorites">
        <div class="all_users_favorites">
            <div class="favorite_type_container">
                <p class="h3_regular">Your favorite entertainers:</p>
                <form
                    class="form_fro_favorite"
                    onchange="return funcForUsersFavEntSelected(event)"
                >
                    {% csrf_token %}
                    <select
                        class="js-example-basic-multiple"
                        name="states[]"
                        multiple="multiple"
                        style="width: 100%"
                        id="select_entertainers"
                    >
                        {% for entertainer in user_fav_ent %}
                        <option value="{{entertainer.id}}" selected>
                            {{entertainer.name}}
                        </option>
                        {% endfor %} {% for entertainer in rest_fav_ent %}
                        <option value="{{entertainer.id}}">
                            {{entertainer.name}}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="favorite_type_container">
                <p class="h3_regular">Your favorite categories:</p>
                <form
                    onchange="return funcForUersFavCatSelected(event)"
                    class="form_fro_favorite"
                >
                    {% csrf_token %}

                    <select
                        id="users_fav_cat_selected"
                        class="js-example-basic-multiple"
                        name="states[]"
                        multiple="multiple"
                        style="width: 100%"
                        id="select_categories"
                    >
                        {% for category in user_fav_cate %}
                        <option value="{{category.id}}" selected>
                            {{category.name}}
                        </option>
                        {% endfor %} {% for category in rest_fav_cate %}
                        <option value="{{category.id}}">
                            {{category.name}}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        <div class="all_users_tickets">
            <p class="h3_regular">Your tickets</p>
            <div class="row_of_tickets">
                {% for ticket in user_tickets %}
                <div>
                    {% include 'ticket_info_card.html' with ticket=ticket %}
                </div>
                {% endfor %}
                <button
                    onclick="scrollParentDivLeft(this)"
                    class="icon_large"
                    style="
                        position: absolute;
                        left: 0;
                        padding: 10px;

                        background-color: transparent;
                        border: none;
                        color: var(--type-primary);
                        opacity: 0.5;
                    "
                >
                    arrow_back_ios
                </button>
                <button
                    onclick="scrollParentDivRight(this)"
                    class="icon_large"
                    style="
                        position: absolute;
                        right: 0;
                        padding: 10px;
                        background-color: transparent;
                        border: none;
                        color: var(--type-primary);
                        opacity: 0.5;
                    "
                >
                    arrow_forward_ios
                </button>
            </div>
        </div>
    </div>
    <p class="h3_regular">
        Upcoming events matching your favorite categories and events
    </p>
    <div class="row-of-cards">
        {% for event in events_matching_favorites %}
        <div>{% include 'components/event_info_card.html' with event=event %}</div>
        {% endfor %}
        <button
            onclick="scrollParentDivLeft(this)"
            class="icon_large"
            style="
                position: absolute;
                left: 0;
                padding: 10px;

                background-color: transparent;
                border: none;
                color: var(--type-primary);
                opacity: 0.5;
            "
        >
            arrow_back_ios
        </button>
        <button
            onclick="scrollParentDivRight(this)"
            class="icon_large"
            style="
                position: absolute;
                right: 0;
                padding: 10px;
                background-color: transparent;
                border: none;
                color: var(--type-primary);
                opacity: 0.5;
            "
        >
            arrow_forward_ios
        </button>
    </div>
</div>
{% endblock %}
