{% extends 'base.html' %} {% block content %}
<style>
    .dashboard_body {
        color: var(--type-primary);
    }
    .ticket_and_favorites {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        gap: 50px;
    }
    .all_users_tickets {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0;
    }



    .all_users_favorites {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 0;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    .row_of_tickets {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 32px;
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 20px;
    }
    .form_fro_favorite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0px;
        margin: 0px;
        color: var(--base-primary);
        width: 100%"

    }
    .favorite_type_container {
        display: flex;
        flex-direction: column;
        width: 47%;
        max-width: 700px;
        padding: 0;
        min-width: 310px;
    }
    .select2-container--default .select2-selection--multiple {
        background-color: transparent;
        border: 1.5px solid var(--type-primary);
        border-radius: 8px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: var(--graphical-primary);
        border: transparent;
        color: var(--type-primary);
        border-radius: 8px;

    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: var(--type-primary);
    }
    @media screen and (max-width: 900px) {
        .favorite_type_container {
            width: 100%;
        }
    }
    .select2-container--default .select2-search--inline .select2-search__field {
        color: var(--type-primary);
    }
</style>
<script>
    const sourceParts = window.location.href.split("/");
    const BASE_URL = sourceParts[0] + "//" + sourceParts[2];

    $(document).ready(function () {
        $(".js-example-basic-multiple").select2();
    });

    async function funcForUersFavCatSelected(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/user_categories";
        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                users_fav_cat_selected: $("#users_fav_cat_selected").select2(
                    "data"
                ),
            }),
        });
    }
    async function funcForUsersFavEntSelected(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/user_entertainers";
        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                select_entertainers: $("#select_entertainers").select2("data"),
            }),
        });
    }
</script>
<script>
    function scrollParentDivLeft(event) {
        event.parentNode.scrollLeft -= 350;
    }
    function scrollParentDivRight(event) {
        event.parentNode.scrollLeft += 350;
    }
</script>

<div class="dashboard_body">
    <div class="ticket_and_favorites">
        <div class="all_users_favorites">
            <div class="favorite_type_container">
                <p class="h3_regular">Your favorite entertainers:</p>
                <form
                    class="form_fro_favorite"
                    onchange="return funcForUsersFavEntSelected(event)"
                >
                    {% csrf_token %}

                    <select
                        class="js-example-basic-multiple"
                        name="states[]"
                        multiple="multiple"
                        style="width: 100%"
                        id="select_entertainers"
                    >
                        {% for entertainer in user_fav_ent %}
                        <option value="{{entertainer.id}}" selected>
                            {{entertainer.name}}
                        </option>
                        {% endfor %} {% for entertainer in rest_fav_ent %}
                        <option value="{{entertainer.id}}">
                            {{entertainer.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <!-- <button class="button_outlined" style="margin-top: 10px">
                        Save changes
                    </button> -->
                </form>
            </div>
            <div class="favorite_type_container">
                <p class="h3_regular">Your favorite categories:</p>
                <form
                    onchange="return funcForUersFavCatSelected(event)"
                    class="form_fro_favorite"
                >
                    {% csrf_token %}

                    <select
                        id="users_fav_cat_selected"
                        class="js-example-basic-multiple"
                        name="states[]"
                        multiple="multiple"
                        style="width: 100%"
                        id="select_categories"
                    >
                        {% for category in user_fav_cate %}
                        <option value="{{category.id}}" selected>
                            {{category.name}}
                        </option>
                        {% endfor %} {% for category in rest_fav_cate %}
                        <option value="{{category.id}}">
                            {{category.name}}
                        </option>
                        {% endfor %}
                    </select>
                    <!-- <button class="button_outlined" style="margin-top: 10px">
                        Save changes
                    </button> -->
                </form>
            </div>
        </div>
        <div class="all_users_tickets">
            <p class="h3_regular">Your tickets</p>
            <div class="row_of_tickets">
                {% for ticket in query_dashboard_user_tickets_results %}
                <div>
                    {% include 'ticket_info_card.html' with ticket=ticket %}
                </div>
                {% endfor %}
                <button
        onclick="scrollParentDivLeft(this)"
        class="icon_large"
        style="
            position: absolute;
            left: 0;
            padding: 10px;

            background-color: transparent;
            border: none;
            color: var(--type-primary);
            opacity: 0.5;
            "
        >
            arrow_back_ios
        </button>
        <button
            onclick="scrollParentDivRight(this)"
            class="icon_large"
            style="
                position: absolute;
                right: 0;
                padding: 10px;
                background-color: transparent;
                border: none;
                color: var(--type-primary);
                opacity: 0.5;
            "
        >
            arrow_forward_ios
        </button>
            </div>
        </div>
    </div>
    <p class="h3_regular">
        Upcomming events matching your favorite categories and events
    </p>
    <div class="row-of-cards">
        {% for event in query_dashboard_user_fav_cat_ent_events_res %}
        <div>{% include 'components/info_card.html' with event=event %}</div>
        {% endfor %}
        <button
        onclick="scrollParentDivLeft(this)"
        class="icon_large"
        style="
            position: absolute;
            left: 0;
            padding: 10px;

            background-color: transparent;
            border: none;
            color: var(--type-primary);
            opacity: 0.5;
            "
        >
            arrow_back_ios
        </button>
        <button
            onclick="scrollParentDivRight(this)"
            class="icon_large"
            style="
                position: absolute;
                right: 0;
                padding: 10px;
                background-color: transparent;
                border: none;
                color: var(--type-primary);
                opacity: 0.5;
            "
        >
            arrow_forward_ios
        </button>
    </div>
</div>
{% endblock %}
