{% extends 'base.html' %} {% block content %}

<style>
    .help_wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        color: var(--type-primary);
    }
    .contact_info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .location_of_our_offices {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
</style>

<div class="help_wrapper">
    <h1 class="h1_regular">Contact Us:</h1>
    <div class="contact_info">
        <div>
            <p class="label_light">Email</p>
            <h3 class="h3_regular">example@example.com</h3>
        </div>
        <div>
            <p class="label_light">Phone</p>
            <h3 class="h3_regular">+354 123 4567</h3>
        </div>
        <div>
            <p class="label_light">Available hours</p>
            <h3 class="h3_regular">Mon-Fri: 08:00 - 16:00 GMT</h3>
        </div>
    </div>
    <div class="location_of_our_offices">
        <p class="h3_regular">Our office location</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1741.2666455640954!2d-21.92913164803894!3d64.12383388350435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d60b4e184b7e19%3A0xb87126c26f3d3420!2sReykjavik%20University!5e0!3m2!1sen!2sis!4v1653479719720!5m2!1sen!2sis"
            height="600"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>
</div>
<!-- filter: grayscale(30%) invert(100%) contrast(100%); -->
{% endblock %}
