{% extends "base.html" %} {% block content %}
{% load static %}
<script src="{% static 'js/scroll_horizon.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div>
    {% include 'search_bar.html' with categories=categories %}
</div>
<div class="home_main_wrapper">
    {% for events in event_cat_categorised %}
    <h2 class="h2_regular">{{events.0.category_name}}</h2>
    <div class="row-of-cards">
        {% for event in events %}
        <div>{% include 'components/event_info_card.html' with event=event %}</div>
        {% endfor %}
        <button onclick="scrollParentDivLeft(this)" class="icon_large scroll_button_wrapper_left">
            arrow_back_ios
        </button>
        <button onclick="scrollParentDivRight(this)" class="icon_large scroll_button_wrapper_right">
            arrow_forward_ios
        </button>
    </div>
    {% endfor %} 
</div>
{% endblock %}
