{% extends "base.html" %} {% block content %}
{% load static %}
<script src="{% static 'js/event.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/event.css' %}">
<script src="{% static 'js/scroll_horizon.js' %}"></script>

<div>
    <div class="top_wrapper">
        <div class="image_wrapper_info_card">
            <img
                src="{{entertainer_info.image_url}}"
                alt="entertainer image"
                style="width: 100%"
            />
        </div>
        <div class="info_and_book_wrapper">
            <div class="info_wrapper">
                <h1 class="h1_semibold">{{entertainer_info.name}}</h1>
                <h3 class="h3_light">{{entertainer_info.description}}</h3>
            </div>
        </div>
    </div>
    <p class="h3_regular" style="color:var(--type-primary); padding-top: 40px;">Upcoming events</p>
    <div class="row-of-cards">
        {% for event in entertainer_events %}
        <div>{% include 'components/info_card.html' with event=event %}</div>
        {% endfor %}
        <button
        onclick="scrollParentDivLeft(this)"
        class="icon_large"
        style="
            position: absolute;
            left: 0;
            padding: 10px;

            background-color: transparent;
            border: none;
            color: var(--type-primary);
            opacity: 0.5;
            "
        >
            arrow_back_ios
        </button>
        <button
            onclick="scrollParentDivRight(this)"
            class="icon_large"
            style="
                position: absolute;
                right: 0;
                padding: 10px;
                background-color: transparent;
                border: none;
                color: var(--type-primary);
                opacity: 0.5;
            "
        >
            arrow_forward_ios
        </button>
    </div>
</div>
{% endblock %}
