{% extends "base.html" %} {% block content %}
{% load static %}
<script src="{% static 'js/event.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/event.css' %}">
<link rel="stylesheet" href="{% static 'css/entertainer.css' %}">
<script src="{% static 'js/scroll_horizon.js' %}"></script>

<div class="main_wrapper_entertainer">
    <div class="top_wrapper">
        <div class="image_wrapper_info_card">
            <img
                src="{{entertainer_info.image_url}}"
                alt="entertainer image"
            />
        </div>
        <div class="info_and_book_wrapper">
            <div class="info_wrapper">
                <h1 class="h1_semibold">{{entertainer_info.name}}</h1>
                <h3 class="h3_light">{{entertainer_info.description}}</h3>
            </div>
        </div>
    </div>
    <div>
        <p class="h3_regular">Upcoming events</p>
        <div class="row-of-cards">
            {% for event in entertainer_events %}
            <div>{% include 'components/event_info_card.html' with event=event %}</div>
            {% endfor %}
            <button onclick="scrollParentDivLeft(this)" class="icon_large scroll_button_wrapper_left">
                arrow_back_ios
            </button>
            <button onclick="scrollParentDivRight(this)" class="icon_large scroll_button_wrapper_right">
                arrow_forward_ios
            </button>
        </div>
    </div>
</div>
{% endblock %}
