{% extends "base.html" %} {% block content %}

<style>
    .top_wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--type-primary);
    }
    .image_wrapper_ent {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 65%;
        height: 40vw;
        border-radius: 16px;
    }
    @media only screen and (max-width: 900px) {
        .image_wrapper_ent {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 100%;
            height: 40vw;
            border-radius: 16px;
        }
    }

    .info_and_book_wrapper {
        display: flex;
        width: 30%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    @media only screen and (max-width: 900px) {
        .info_and_book_wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .info_wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .upp_comming_events_header {
        margin-top: 40px;
        margin-left: 0px;
        color: var(--type-primary);
    }
</style>

<div>
    <div class="top_wrapper">
        <div class="image_wrapper_ent">
            <img
                src="{{entertainer_info.image_url}}"
                alt="entertainer image"
                style="width: 100%"
            />
        </div>
        <div class="info_and_book_wrapper">
            <div class="info_wrapper">
                <h1 class="h1_semibold">{{entertainer_info.name}}</h1>
                <h3 class="h3_light">{{entertainer_info.description}}</h3>
            </div>
        </div>
    </div>
    <p class="h3_regular upp_comming_events_header">Upcoming events</p>
    <div class="row-of-cards">
        {% for event in entertainer_events %}
        <div>{% include 'info_card.html' with event=event %}</div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
