.dashboard_body {
    color: var(--type-primary);
}

.ticket_and_favorites {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.all_users_tickets {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
}

.all_users_favorites {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    gap: 32px;
    flex-wrap: wrap;
}

.row_of_tickets {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 16px 0;
    gap: 32px;
    width: 100%;
    overflow-x: scroll;
}

.form_fro_favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--base-primary);
}