.main_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--type-primary);

}

.top_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;

}

.image_wrapper_info_card {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 66%;
    height: 40vw;
    border-radius: 16px;
}

.image_wrapper_info_card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info_and_book_wrapper {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 16px;
    color: var(--type-primary);

}

.max_cap_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.map_and_calender_wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.the_map_wrapper {
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);
    height: 100%;
}

.the_map_wrapper iframe {
    border-radius: 16px;
}

.event_image_buttons {
    padding-left: 4px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 63%;
}

.event_image_buttons button {
    background-color: transparent;
    border: 0;
    color: var(--type-primary);
    opacity: 0.6;
}

.the_calendar_icon_wrapper {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}

.the_calendar_icon_month {
    background-color: var(--graphical-secondary);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.the_calendar_icon_date_week {
    color: var(--graphical-secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75%;
    background-color: white;
    border-radius: 0 0 16px 16px;
}

.event_action_wrapper {
    display: flex;
    justify-content: end;
    padding-bottom: 16px;
}

@media only screen and (max-width: 900px) {
    .image_wrapper_info_card {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 40vw;
        border-radius: 16px;
    }

    .info_and_book_wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .the_map_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .event_image_buttons {
        width: 95%;
    }
}