/* You can add global styles to this file, and also import other style files */

:root {
    /* Layout */
    --topbar-height: 32px;

    /* Colors */
    /* --------------------------------------------------*/

    /* Ground Colors */
    --base-primary: #212529;
    --base-secondary: #343A40;

    /* Typegraphy Colors */
    --type-primary: #F8F9Fa;
    --type-secondary: #FFFFFF;
    --type-weak: #DEE2E6;
    --type-dark: #6C757D;

    /* Graphical Colors */
    --graphical-primary: #3D8BFD;
    --graphical-secondary: #ABB5BE;
    
    /* Status colors */
    --status-info: #17A2B8
    --status-warning: #FFC107
    --status-danger: #DC3545
    --status-success: #28A745


    /* Typography */
    /* --------------------------------------------------*/

    /* Fonts */
    --base-font: 'Nunito Sans', sans-serif;
    --icon-font: 'Material Icons';

    /* H1 */
    --h1-font-size: 32px;

    /* H2 */
    --h2-font-size: 24px;
    
    /* H3 */
    --h3-font-size: 20px;

    /* H4 */
    --h4-font-size: 18px;
    
    /* p */
    --p-font-size: 16px;

    /* Icons */
    --icon-large-font-size: 32px;
    --icon-normal-font-size: 24px;
    --icon-small-font-size: 16px;




    /* Effects */
    /* --------------------------------------------------*/

    /* White Hover Shadow */
    --effect-white-hover-shadow: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.6)); /* filter */

    /* Button Inner Shadow */
    --effect-button-inner-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1); /* box-shadow */

    /* White on White Edge Shadow*/
    --effect-white-on-white-edge-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05); /* box-shadow */

}

* {
    font-family: 'Nunito Sans', sans-serif;
}



/* H1 */
.h1_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--h1-font-size);
    line-height: var(--h1-font-size);
    padding: 0px;
    margin: 0px;
}

.h1_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--h1-font-size);
    padding: 0px;
    margin: 0px;
}

.h1_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--h1-font-size);
    padding: 0px;
    margin: 0px;
}

.h1_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--h1-font-size);
    padding: 0px;
    margin: 0px;
}

/* H2 */
.h2_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--h2-font-size);
    padding: 0px;
    margin: 0px;
}

.h2_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--h2-font-size);
    padding: 0px;
    margin: 0px;
}

.h2_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--h2-font-size);
    padding: 0px;
    margin: 0px;
}

.h2_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--h2-font-size);
    padding: 0px;
    margin: 0px;
}

/* H3 */
.h3_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--h3-font-size);
    padding: 0px;
    margin: 0px;
}

.h3_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--h3-font-size);
    padding: 0px;
    margin: 0px;
}

.h3_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--h3-font-size);
    padding: 0px;
    margin: 0px;
}

.h3_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--h3-font-size);
    padding: 0px;
    margin: 0px;
}

/* H4 */
.h4_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--h4-font-size);
    padding: 0px;
    margin: 0px;
}

.h4_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--h4-font-size);
    padding: 0px;
    margin: 0px;
}

.h4_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--h4-font-size);
    padding: 0px;
    margin: 0px;
}

.h4_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--h4-font-size);
    padding: 0px;
    margin: 0px;
}

/* p */
.p_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--p-font-size);
    padding: 0px;
    margin: 0px;
}

.p_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--p-font-size);
    padding: 0px;
    margin: 0px;
}

.p_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--p-font-size);
    padding: 0px;
    margin: 0px;
}

.p_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--p-font-size);
    padding: 0px;
    margin: 0px;
}

/* Labels */
.label_bold {
    font-family: var(--base-font);
    font-weight: 700;
    font-size:var(--p-font-size);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.label_semibold {
    font-family: var(--base-font);
    font-weight: 600;
    font-size:var(--p-font-size);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.label_regular {
    font-family: var(--base-font);
    font-weight: 500;
    font-size:var(--p-font-size);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.label_light {
    font-family: var(--base-font);
    font-weight: 300;
    font-size:var(--p-font-size);
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}



/* Icons */

.icon_large {
    font-family: var(--icon-font);
    font-size:var(--icon-large-font-size);
    padding: 0px;
    margin: 0px;
    
}

.icon_normal {
    font-family: var(--icon-font);
    font-size:var(--icon-normal-font-size);
    padding: 0px;
    margin: 0px;
}

.icon_small {
    font-family: var(--icon-font);
    font-size:var(--icon-small-font-size);
    padding: 0px;
    margin: 0px;
}

html, body { height: 100%; }
body { 
    margin: 0;
    background-color: var(--base-primary);
    color: var(--type-primary);
}

.page_body {
    padding: 32px 2%;
}

/* Custom Classes */

/* Navbar */
.navbar_wrapper {
    /* Alignment */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    /* Body */
    background-color: var(--base-primary);
    padding: 16px;
    box-shadow: 0px 1px 24px rgba(255, 255, 255, 0.25);
}

.navbar_right_wrapper {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.navbar_options {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    text-align: center;
}

.navbar_option {
    background-color: rgba(0, 0, 0, 0);
    color: var(--type-primary);
    text-decoration: none;
    padding: 8px 16px;
}

.navbar_option:hover {
    color: var(--type-primary);
    background-color: var(--base-secondary);
    border-radius: 8px;
}

.navbar_option_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button */
.button_outlined {
    /* Alignment */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;

    /* Body */
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--graphical-primary);
    border-radius: 8px;
    color: var(--type-primary);
    font-size: 18px;
}

.button_outlined:hover {
    background-color: var(--graphical-primary);
}

/* Login Modal */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.card {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-between;
    width: 350px;
    height: 450px;
    background:  var(--base-secondary);
    border-radius: 8px;
}
.btn-booking-card {
    color: var(--type-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 10px;
    border-color: var(--graphical-primary);
    background-color: transparent;
    border-radius: 8px;
    width: 318px;
    height: 49px;                       
}

.card-img {
    width: 350px;
    height: 196px;
    border-radius: 8px 8px 0px 0px;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    width: 350px;
    
    }