{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="login_main_wrapper">
    <h2 class="h2_regular">Login</h2>
    <form method="post" class="form_styling">
        {% csrf_token %}
        {{ form }}
        <div class="login_button_wrapper">
            <a class="button_outlined sign_up_button_adjuster" href="{% url 'register' %}">Sign up</a>
            <input type="submit" class="button_outlined sign_up_button_adjuster" value="Login" style="border-width: 2px;"/>
        </div>
    </form>
</div>
{% endblock %}