{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/register.js' %}"></script>

<div class="sign_up_main_wrapper">
    <h2 class="h2_regular">Sign up</h2>
    <form class="form_styling" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="sign_up_button_wrapper">
            <input type="submit" class="button_outlined sign_up_button_adjuster" value="Sign up" style="border-width: 2px;"/>
        </div>
    </form>
    <div class="help_button_wrapper">
        <button class="button_outlined sign_up_button_adjuster show_help_button" onclick="showHelp()">Show Help</button>
    </div>
</div>
{% endblock %}