{% extends "base.html" %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/create_event.css' %}">

<div class="main_wrapper">
    <div class="top_wrapper">
        <div class="image_wrapper_info_card">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Missing-image-232x150.png"
                id="the_new_image"
                alt="Event image"
            />
        </div>

        <form method="post" class="profile_form info_and_book_wrapper">
            {% csrf_token %} {{ event_form }}
            <div>
                <input
                    type="submit"
                    class="button_outlined"
                    value="Update"
                    style="border-width: 2px"
                />
            </div>
        </form>
    </div>
</div>
{% endblock %}
