{% extends "base.html" %} {% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/create_event_more_info.css' %}">
<link rel="stylesheet" href="{% static 'css/form_multi_select.css' %}">
<script src="{% static 'js/create_event_more_info.js' %}"></script>

<div class="create_page_main_wrapper">
    <div class="favorite_type_container">
        <p class="h3_regular">This events categories:</p>
        <form
            onchange="return funcForNewEventsCategories(event)"
            class="form_fro_favorite"
        >
            {% csrf_token %}

            <select
                aria-label="events catagories"
                id="event_categories"
                class="js-example-basic-multiple multi_select_adj"
                name="states[]"
                multiple="multiple"
                id="select_categories"
            >
                {% for category in EventCategory %}
                <option value="{{category.id}}" selected>
                    {{category.name}}
                </option>
                {% endfor %} {% for category in Category %}
                <option value="{{category.id}}">
                    {{category.name}}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="favorite_type_container">
        <p class="h3_regular">This events entertainers:</p>
        <form
            onchange="return funcForNewEventsEntertainers(event)"
            class="form_fro_favorite"
        >
            {% csrf_token %}

            <select
                aria-label="events catagories"
                id="event_entertainers"
                class="js-example-basic-multiple multi_select_adj"
                name="states[]"
                multiple="multiple"
                id="select_categories"
            >
                {% for entertainer in EventEntertainer %}
                <option value="{{entertainer.id}}" selected>
                    {{entertainer.name}}
                </option>
                {% endfor %} {% for entertainer in Entertainer %}
                <option value="{{entertainer.id}}">
                    {{entertainer.name}}
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    
    <div>
        <button class="button_outlined" onclick="window.location.reload();">Update</button>
    </div>

    <label for="ticket_type_price" class="h3_regular">Set the events ticket type price</label>
    {% for ticket_type_price in this_event_ticket_type_price %}
        <p class="p_light">{{ticket_type_price.ticket_type.description}} - {{ticket_type_price.price}}</p>
    {% endfor %}

    <form id="ticket_type_price" class="form_styling" method="post" >
        {% csrf_token %} 
        {{event_ticket_price_form}}
        <div>
            <input
                type="submit"
                class="button_outlined"
                value="Update"
                style="border-width: 2px"
            />
        </div>
    </form>

    <label for="preview_info_card" class="h2_regular"> Here you can see how the event card will look</label>
    <div id="preview_info_card" class="preview_of_event">
        <div>{% include 'components/event_info_card.html' with event=event %}</div>
    </div>

    <label for="preview_page" class="h2_regular">  Here you can see how the event page will look</label>
    <div id="preview_page" class="preview_of_event">
        {% include 'components/specific_event.html' with event=event %}
    </div>
</div>
{% endblock %}
