{% extends "base.html" %} {% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/form_multi_select.css' %}">
<style>
    .preview_of_event {
        border: 2px solid var(--type-primary);
        border-radius: 8px;
        padding: 16px;
    }
    .create_more_forms {
        color: var(--type-primary);
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #ticket_type_price {
        display: flex; 
        flex-direction: column; 
        color: white; 
        margin-bottom: 8px; 
        border: 1px solid var(--type-primary); 
        border-radius: 8px; 
        padding: 8px;
    }
</style>
<script>
    const sourceParts = window.location.href.split("/");
    const BASE_URL = sourceParts[0] + "//" + sourceParts[2];

    $(document).ready(function () {
        $(".js-example-basic-multiple").select2();
    });

    async function funcForNewEventsCategories(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/event_categories";

        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                event_id: sourceParts[5],
                event_categories: $("#event_categories").select2(
                    "data"
                ),
            }),
        });
    }
    async function funcForNewEventsEntertainers(event) {
        event.preventDefault();

        const token = $('input[name="csrfmiddlewaretoken"]').val();

        const url = BASE_URL + "/api/event_entertainers";

        const res = await fetch(url, {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": token,
            },
            body: JSON.stringify({
                event_id: sourceParts[5],
                event_entertainers: $("#event_entertainers").select2(
                    "data"
                ),
            }),
        });
    }
</script>
<div class="favorite_type_container">
    <p class="h3_regular" style="color:var(--type-primary)">This events categories:</p>
    <form
        onchange="return funcForNewEventsCategories(event)"
        class="form_fro_favorite"
    >
        {% csrf_token %}

        <select
            id="event_categories"
            class="js-example-basic-multiple"
            name="states[]"
            multiple="multiple"
            style="width: 100%"
            id="select_categories"
        >
            {% for category in EventCategory %}
            <option value="{{category.id}}" selected>
                {{category.name}}
            </option>
            {% endfor %} {% for category in Category %}
            <option value="{{category.id}}">
                {{category.name}}
            </option>
            {% endfor %}
        </select>
    </form>
</div>
<div class="favorite_type_container">
    <p class="h3_regular" style="color:var(--type-primary)">This events entertainers:</p>
    <form
        onchange="return funcForNewEventsEntertainers(event)"
        class="form_fro_favorite"
    >
        {% csrf_token %}

        <select
            id="event_entertainers"
            class="js-example-basic-multiple"
            name="states[]"
            multiple="multiple"
            style="width: 100%"
            id="select_categories"
        >
            {% for entertainer in EventEntertainer %}
            <option value="{{entertainer.id}}" selected>
                {{entertainer.name}}
            </option>
            {% endfor %} {% for entertainer in Entertainer %}
            <option value="{{entertainer.id}}">
                {{entertainer.name}}
            </option>
            {% endfor %}
        </select>
    </form>
</div>
<label for="ticket_type_price" class="h3_regular" style="color: white; margin-top: 16px;">Set the events ticket type price</label>
{% for ticket_type_price in this_event_ticket_type_price %}
    <p style="color: var(--type-primary);">{{ticket_type_price.ticket_type_id}}-{{ticket_type_price.price}}</p>
{% endfor %}
<form id="ticket_type_price" method="post" >
    {% csrf_token %} {{event_ticket_price_form}}

    <div style="margin-top: 8px;">
        <input
            type="submit"
            class="button_outlined"
            value="Update"
            style="border-width: 2px"
        />
    </div>
</form>

<label for="prview_info_card" class="h2_regular" style="color: var(--type-primary)"> Here you can see how the event card will look</label>
<div id="prview_info_card" class="preview_of_event">
    <div>{% include 'components/info_card.html' with event=event %}</div>
</div>

<label for="prview_page" class="h2_regular" style="color: var(--type-primary)">  Here you can see how the event page will look</label>
<div id="prview_page" class="preview_of_event">
    {% include 'components/specific_event.html' with event=event %}
</div>
{% endblock %}
