<div id="booking_modal_order_info">
    <div class="booking_modal_order_info_item">
        <p class="label_light">Event</p>
        <p id="booking_modal_order_info_event" class="p_regular"></p>
    </div>
    <div class="booking_modal_order_info_item">
        <p class="label_light">Date</p>
        <p id="booking_modal_order_info_date" class="p_regular"></p>
    </div>
    <div class="booking_modal_order_info_item">
        <p class="label_light">Quantity</p>
        <p id="booking_modal_order_info_quantity" class="p_regular"></p>
    </div>
    <div class="booking_modal_order_info_item">
        <p class="label_light">Delivery</p>
        <p id="booking_modal_order_info_delivery" class="p_regular"></p>
    </div>
    <div class="booking_modal_order_info_item">
        <p class="label_light">Ticket Type</p>
        <p id="booking_modal_order_info_ticket_type" class="p_regular"></p>
    </div>
    <div class="booking_modal_order_info_item">
        <p class="label_light">Total Price</p>
        <p id="booking_modal_order_info_total_price" class="p_regular"></p>
    </div>
</div>