{% load static %}

<div id="booking_modal_content_7" class="booking_modal_main_wrapper">
    <div class="booking_modal_success_wrapper">
        <img src={% static 'images/booking_failed_icon.png' %} alt="Postal delivery icon"/>
        <h1 class="h1_light">Sorry your order failed!</h1>
        <h3 id="booking_modal_fail_message" class="h3_light"></h3>
        <button 
            class="button_outlined close_button"
            data-bs-toggle="modal"
            data-bs-target="#booking_modal"
        >Close</button>
    </div>
</div>