<div id="booking_modal_content_3" class="booking_modal_main_wrapper">
                    
    <!-- Postal Delivery -->
    <div id="booking_modal_content_3_p">
        <div class="booking_modal_entry_field_stack_wrapper">
            <div class="booking_modal_entry_field_stack">
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_country" class="label_light">Country</label>
                    </div>
                    <select id="booking_modal_p_country" onchange="populatePostalCity()"></select>
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_city" class="label_light">City</label>
                    </div>
                    <select id="booking_modal_p_city" disabled></select>
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_postal_code" class="label_light">Postal code</label>
                    </div>
                    <input id="booking_modal_p_postal_code" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_street_name" class="label_light">Street name</label>
                    </div>
                    <input id="booking_modal_p_street_name" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_house_number" class="label_light">House Number</label>
                    </div>
                    <input id="booking_modal_p_house_number" type="number" />
                </div>
            </div>
            <div class="booking_modal_entry_field_stack">
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_first_name" class="label_light">First Name</label>
                    </div>
                    <input id="booking_modal_p_first_name" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_last_name" class="label_light">Last Name</label>
                    </div>
                    <input id="booking_modal_p_last_name" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_phone_country_code" class="label_light">Phone Country Code</label>
                    </div>
                    <select id="booking_modal_p_phone_country_code"></select>
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_phone_number" class="label_light">Phone Number</label>
                    </div>
                    <input id="booking_modal_p_phone_number" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <label for="booking_modal_p_email" class="label_light">Email</label>
                    </div>
                    <input id="booking_modal_p_email" type="email" />
                </div>
            </div>
        </div>
        <div class="booking_modal_back_continue_wrapper">
            <button class="button_outlined back_button" onclick="handleBack(3)">Back</button>
            <button class="button_outlined" onclick="handleSavePostDeliveryInfo()">Continue</button>
        </div>
    </div>

    <!-- Email Delivery -->
    <div id="booking_modal_content_3_e">
        <div class="booking_modal_entry_field_stack_wrapper">
            <div class="booking_modal_entry_field_stack">
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <p class="label_light">First Name</p>
                    </div>
                    <input aria-label="booking_modal_e_first_name" id="booking_modal_e_first_name" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <p class="label_light">Last Name</p>
                    </div>
                    <input aria-label="booking_modal_e_last_name" id="booking_modal_e_last_name" />
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <p class="label_light">Email</p>
                    </div>
                    <input aria-label="booking_modal_e_email" id="booking_modal_e_email" type="email" />
                </div>
            </div>

            <div class="booking_modal_entry_field_stack">
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <p class="label_light">Phone Country Code</p>
                    </div>
                    <select aria-label="booking_modal_e_phone_country_code" id="booking_modal_e_phone_country_code">
                    </select>
                </div>
                <div class="entry_field_main_wrapper">
                    <div class="entry_field_description">
                        <p class="label_light">Phone Number</p>
                    </div>
                    <input aria-label="booking_modal_e_phone_number" id="booking_modal_e_phone_number" />
                </div>
            </div>
        </div>
        <div class="booking_modal_back_continue_wrapper">
            <button class="button_outlined back_button" onclick="handleBack(3)">Back</button>
            <button class="button_outlined" onclick="handleSaveEmailDeliveryInfo()">Continue</button>
        </div>
    </div>
</div>