{% load static %}

<div id="booking_modal_content_6" class="booking_modal_main_wrapper">
    <div class="booking_modal_success_wrapper">
        <img alt="Success icon" src={% static 'images/success_icon.png' %}/>
        <h1 class="h1_light">Your order has been processed!</h1>
        <h3 id="booking_modal_success_delivery_method" class="h3_light"></h3>
        <h3 class="h3_light">Thank you for shopping with EventDriven</h3>
        <button 
            class="button_outlined success_button"
            data-bs-toggle="modal"
            data-bs-target="#booking_modal"
        >Finish</button>
    </div>
</div>