<style>
    .book-button-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .button-adjust {
        width: 300px;
    }
    .icon-and-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .for-hower-clow {
        background: #ffffff;
        border-radius: 10px;
    }
    .image_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 200px;
        border-radius: 8px 8px 0 0;
    }
    .image_wrapper img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .description_wrapper {
        overflow: hidden;
        height: 48px;
    }
</style>
<div class="for-hower-clow">
    <div class="card">
        <a href="/entertainer/{{entertainer.id}}">
            <div class="image_wrapper">
                <img
                    src="{{ entertainer.image_url }}"
                    class="card_img"
                    alt="Event image"
                />
            </div>
            <div class="card_body">
                <h1 class="h2_semibold">{{entertainer.name}}</h1>
                <div class="description_wrapper">
                    <p class="card-text">{{entertainer.description}}</p>
                </div>
                <p class="h3_regular" style="margin-top: 32px">Next event:</p>
                <div class="icon-and-text">
                    <p class="icon_large">pin_drop</p>
                    <h3 class="h3_regular">{{entertainer.location_name}}</h3>
                </div>
                <div class="icon-and-text">
                    <p class="icon_large">calendar_month</p>
                    <h3 class="h3_regular">{{entertainer.next_event_date}}</h3>
                </div>
            </div>
        </a>
    </div>
    <!-- this is for the popup window -->
</div>
