{% load static %}

<nav class="navbar_wrapper">
  <div class="navbar_right_wrapper">
    <a href="/">
      <img src={% static 'images/event_driven_white_transparent.png' %} alt="Event driven logo"
      />
    </a>
    <div class="navbar_options">
      <a class="navbar_option" href="/">Home</a>
      <a class="navbar_option" href="/entertainer">Entertainers</a>
      <a class="navbar_option" href="/help">Help</a>
    </div>
  </div>

  <button class="button_outlined">Login / Register</button>
</nav>