{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar_wrapper">
    <div class="navbar_navbar_logo_login">
        <a href="/">
            <img alt="Event driven logo" src={% static 'images/event_driven_white_transparent.png' %} />
        </a>
        <div>
            {% if user.is_authenticated %}
                {% include 'components/user_avatar.html' %}
            {% else %}
            <a class="button_outlined" href="{% url 'login' %}"
                >Login / Register
            </a>
            {% endif %}
        </div>
    </div>
    <div class="navbar_options">
        <div class="the_options">
            <a class="navbar_option h3_light" href="/">Home</a>
            <a class="navbar_option h3_light" href="/entertainer"
                >Entertainers</a
            >
            <a class="navbar_option h3_light" href="/help">Help</a>
            {% if user.is_authenticated %}
            <a class="navbar_option h3_light" href="/dashboard">Dashboard</a>

            {% endif %}
        </div>
    </div>
</nav>
