{% load static %}
<link rel="stylesheet" href="{% static 'css/search_bar.css' %}">
<script src="{% static 'js/search_bar.js' %}"></script>

<div class="search_bar_with_cat_and_date">
    <form
        class="the_bars_with"
        onkeydown="search(this)"
        onclick="sendSearchAsParam(this)"
        onsubmit="return false"
    >
        <select
            id="categories"
            class="form-select cat_options"
            aria-label="categories"
        >
            <option selected value="All">All categories</option>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <div
            id="date_from_div"
            class="date_options"
            style="flex-direction: column;"
        >
            <label for="date_from">Date from</label>
            <input id="date_from" type="date" value="" />
        </div>
        <div
            id="date_to_div"
            class="date_options"
            style="flex-direction: column;"
        >
            <label for="date_to">Date to</label>
            <input id="date_to" type="date" value="" />
        </div>
        <select
            id="chosen_date_range_type"
            class="form-select date_options"
            aria-label="categories"
            onchange="isItSpecificDate(this)"
        >
            <option value="" selected>All dates</option>
            <option value="today">Today</option>
            <option value="this week">This week</option>
            <option value="specific date">Specific date</option>
        </select>
        <div class="search_input_with_button">
            <input
                id="search_input_field"
                type="text"
                class="search_input_field"
                placeholder="Search for an event or entertainer"
            />

            <button
                class="icon_large search_button"
                onclick="button_bool_true()"
            >
                search
            </button>
        </div>
    </form>
</div>
<script>
    populateSearchBar();
</script>