<style>
    /* this is for the search bar */
    .search_bar_with_cat_and_date {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .cat_dropdown {
        width: 100px;
        height: 100px;
    }
    .the_bars_with {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: center;
        height: 50px;
        color: var(--base-primary);
    }
    .cat_options {
        width: 20%;
        border-radius: 0%;
        height: 50px;
        border: 0px;
        border-radius: 16px 0px 0px 16px;
        color: var(--base-primary);
    }
    .date_options {
        width: 20%;
        height: 50px;
        border-radius: 0px;
    }

    .search_input_field {
        width: 100%;
        height: 50px;
        border: 0px;
        background-color: var(--type-primary);
        color: var(--base-primary);
    }
    .search_button {
        width: 10%;
        height: 50px;
        background-color: var(--type-primary);
        border-radius: 0px 16px 16px 0px;
        border: 0px;
        display: flex;
        justify-content: center;
        color: var(--base-primary);
    }
    #date_to_div {
        display: none;
    }
    #date_from_div {
        display: none;
    }
    #chose_date_range_type {
        display: flex;
    }
    .search_input_wit_button {
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 100%;
    }
    @media only screen and (max-width: 600px) {
        .date_options {
            width: 50%;
            border-radius: 0px 16px 16px 0px;
        }
        .search_input_field {
            width: 80%;
            border-radius: 16px 0px 0px 16px;
            border: 0px;
            background-color: var(--type-primary);
            color: var(--base-primary);
        }
        .search_input_wit_button {
            display: flex;
            flex-direction: row;
            height: 100%;
            min-width: 310px;
            width: 100%;
            justify-content: center;
        }
        .the_bars_with {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            height: 100%;
            color: var(--base-primary);
        }
        .cat_options {
            width: 50%;
        }
    }
</style>
<script>
    var button_bool = false;
    function button_bool_true() {
        button_bool = true;
    }
    function search(ele) {
        if (event.key === "Enter") {
            button_bool_true();
            sendSearchAsParam(ele);
        }
    }
    function sendSearchAsParam(ele) {
        if (button_bool === true) {
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + "search";
            var url = new URL(baseUrl);

            url.searchParams.append(
                "categories",
                ele.elements.categories.value
            );
            if (ele.elements.date_to.value !== "") {
                url.searchParams.append("date_to", ele.elements.date_to.value);
                url.searchParams.append(
                    "date_from",
                    ele.elements.date_from.value
                );
            } else {
                if (ele.elements.chose_date_range_type.value === "") {
                    url.searchParams.append("date_to", "All");
                    url.searchParams.append("date_from", "All");
                } else if (
                    ele.elements.chose_date_range_type.value === "today"
                ) {
                    yourDate = new Date();
                    const offset = yourDate.getTimezoneOffset();
                    yourDate = new Date(
                        yourDate.getTime() - offset * 60 * 1000
                    );
                    the_date = yourDate.toISOString().split("T")[0];

                    url.searchParams.append("date_to", the_date);
                    url.searchParams.append("date_from", the_date);
                } else if (
                    ele.elements.chose_date_range_type.value === "this week"
                ) {
                    yourDate = new Date();
                    const offset = yourDate.getTimezoneOffset();
                    yourDate = new Date(
                        yourDate.getTime() - offset * 60 * 1000
                    );
                    the_date = yourDate.toISOString().split("T")[0];
                    url.searchParams.append("date_from", the_date);
                    var firstDay = new Date(the_date);
                    var the_date = new Date(
                        firstDay.getTime() + 7 * 24 * 60 * 60 * 1000
                    );
                    the_date = the_date.toISOString().split("T")[0];
                    url.searchParams.append("date_to", the_date);
                }
            }

            if (ele.elements.search_input_field.value !== "") {
                url.searchParams.append(
                    "search_input_field",
                    ele.elements.search_input_field.value
                );
            } else {
                url.searchParams.append("search_input_field", "All");
            }
            window.location.replace(url.href);
        }
    }
    function isItSpecificDate(ele) {
        if (ele.value === "specific date") {
            theInputField = document.getElementById("date_to_div");
            theInputField2 = document.getElementById("date_from_div");
            theSelectField = document.getElementById("chose_date_range_type");
            theInputField.style.display = "flex";
            theInputField2.style.display = "flex";
            theSelectField.style.display = "none";
            // this.style.display = "none";
        } else {
            return false;
        }
    }
</script>
<div class="search_bar_with_cat_and_date">
    <form
        class="the_bars_with"
        onkeydown="search(this)"
        onclick="sendSearchAsParam(this)"
        onsubmit="return false"
    >
        <select
            id="categories"
            class="form-select cat_options"
            aria-label="categories"
        >
            <option selected value="All">All categories</option>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <div
            id="date_from_div"
            class="date_options"
            style="flex-direction: column; background-color: white"
        >
            <label for="date_from">Date from</label>
            <input id="date_from" type="date" value="" />
        </div>
        <div
            id="date_to_div"
            class="date_options"
            style="flex-direction: column; background-color: white"
        >
            <label for="date_to">Date to</label>
            <input id="date_to" type="date" value="" />
        </div>
        <select
            id="chose_date_range_type"
            class="form-select date_options"
            aria-label="categories"
            onchange="isItSpecificDate(this)"
        >
            <option value="" selected>All dates</option>
            <option value="today">Today</option>
            <option value="this week">This week</option>
            <option value="specific date">Specific date</option>
        </select>
        <div class="search_input_wit_button">
            <input
                id="search_input_field"
                type="text"
                class="search_input_field"
                placeholder="Search for an event or entertainer"
            />

            <button
                class="icon_large search_button"
                onclick="button_bool_true()"
            >
                search
            </button>
        </div>
    </form>
</div>
