<style>
    /* this is for the search bar */
    .search_bar_with_cat_and_date {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .cat_dropdown {
        width: 100px;
        height: 100px;
    }
    .the_bars_with {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: center;
        height: 50px;
        color: var(--base-primary);
    }
    @media only screen and (max-width: 1200px) {
        .the_bars_with {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            height: 50px;
            color: var(--base-primary);
        }
    }

    .cat_options {
        width: 20%;
        border-radius: 0%;
        height: 100%;
        border: 0px;
        border-radius: 16px 0px 0px 16px;
        color: var(--base-primary);
    }
    .date_options {
        width: 20%;
        height: 100%;
    }
    @media only screen and (max-width: 600px) {
        .date_options {
            width: 30%;
            height: 100%;
        }
    }
    .search_input_field {
        width: 60%;
        height: 100%;

        background-color: var(--type-primary);
        color: var(--base-primary);
    }
    @media only screen and (max-width: 600px) {
        .date_options {
            width: 50%;
            height: 100%;
        }
    }
    .search_button {
        width: 10%;
        height: 100%;
        background-color: var(--type-primary);
        border-radius: 0px 16px 16px 0px;
        border: 0px;
        display: flex;
        justify-content: center;
        color: var(--base-primary);
    }
    #date_options {
        display: none;
    }
    #chose_date_range_type {
        display: flex;
    }
</style>
{% include 'components/booking_modal.html' with progress_data=progress_data%}
<script>
    var button_bool = false;
    function button_bool_true() {
        button_bool = true;
    }
    function search(ele) {
        if (event.key === "Enter") {
            button_bool_true();
            sendSearchAsParam(ele);
            // alert(ele);
        }
    }
    function sendSearchAsParam(ele) {
        if (button_bool === true) {
            // var url = new URL("http://foo.bar/?x=1&y=2");
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + "search";
            var url = new URL(baseUrl);

            url.searchParams.append(
                "categories",
                ele.elements.categories.value
            );

            if (ele.elements.date_options.value !== "") {
                console.log("first", ele.elements.date_options.value);
                url.searchParams.append(
                    "date_options",
                    ele.elements.date_options.value
                );
            } else {
                if (ele.elements.chose_date_range_type.value === "") {
                    url.searchParams.append("date_options", "All");
                } else if (
                    ele.elements.chose_date_range_type.value === "today"
                ) {
                    console.log(
                        "right",
                        ele.elements.chose_date_range_type.value
                    );
                    yourDate = new Date();
                    const offset = yourDate.getTimezoneOffset();
                    yourDate = new Date(
                        yourDate.getTime() - offset * 60 * 1000
                    );
                    the_date = yourDate.toISOString().split("T")[0];
                    console.log("the_date", the_date);
                    console.log("yourDate", yourDate);
                    url.searchParams.append("date_options", the_date);
                } else if (
                    ele.elements.chose_date_range_type.value === "this week"
                ) {
                    yourDate = new Date();
                    const offset = yourDate.getTimezoneOffset();
                    yourDate = new Date(
                        yourDate.getTime() - offset * 60 * 1000
                    );
                    the_date = yourDate.toISOString().split("T")[0];
                    var firstDay = new Date(the_date);
                    var the_date = new Date(
                        firstDay.getTime() + 7 * 24 * 60 * 60 * 1000
                    );
                    the_date = the_date.toISOString().split("T")[0];
                    url.searchParams.append("date_options", the_date);
                }
            }

            if (ele.elements.search_input_field.value !== "") {
                url.searchParams.append(
                    "search_input_field",
                    ele.elements.search_input_field.value
                );
            } else {
                url.searchParams.append("search_input_field", "All");
            }
            window.location.replace(url.href);
        }
    }
    function isItSpecificDate(ele) {
        console.log("ele", ele.value);
        if (ele.value === "specific date") {
            console.log("here");

            theInputField = document.getElementById("date_options");
            theSelectField = document.getElementById("chose_date_range_type");
            theInputField.style.display = "flex";
            theSelectField.style.display = "none";
            // this.style.display = "none";
        } else {
            return false;
        }
    }
</script>
<div class="search_bar_with_cat_and_date">
    <form
        class="the_bars_with"
        onkeydown="search(this)"
        onclick="sendSearchAsParam(this)"
        onsubmit="return false"
    >
        <select
            id="categories"
            class="form-select cat_options"
            aria-label="categories"
        >
            <option selected>All</option>
            {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <input id="date_options" type="date" class="date_options" value="" />
        <select
            id="chose_date_range_type"
            class="form-select date_options"
            aria-label="categories"
            onchange="isItSpecificDate(this)"
            style="border-radius: 0px 0px 0px 0px"
        >
            <option value="" selected>All</option>
            <option value="today">Today</option>
            <option value="this week">This week</option>
            <option value="specific date">Specific date</option>
        </select>
        <!-- <input id="search_input_field" /> -->
        <input
            id="search_input_field"
            type="text"
            class="search_input_field"
            placeholder="Search for an event or entertainer"
        />

        <!-- <script>
            $(function () {
                $("#search_input_field").datepicker();
            });
        </script> -->
        <button class="icon_large search_button" onclick="button_bool_true()">
            search
        </button>
    </form>
</div>
