{% load static %}
<link rel="stylesheet" href="{% static 'css/info_cards.css' %}">
<div class="for_hover_glow">
    <div class="card">
        <a href="/event/{{ticket.event_id}}">
            <div class="image_wrapper">
                <img
                    src="{{ ticket.main_image_url }}"
                    class="card_img"
                    alt="Event image"
                />
            </div>
            <div class="card_body">
                <div class="card_content">
                    <h1 class="h2_semibold">{{ticket.event_title}}</h1>
                    <div class="icon_and_text">
                        <p class="icon_large">pin_drop</p>
                        <h3 class="h3_regular">{{ticket.event_location_name}}</h3>
                    </div>
                    <div class="icon_and_text">
                        <p class="icon_large">calendar_month</p>
                        <h3 class="h3_regular">{{ticket.event_start_date}}</h3>
                    </div>
                    <div class="icon_and_text">
                        <p class="icon_large">fingerprint</p>
                        <h3 class="h3_regular">ID: {{ticket.id}}</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
