{% load static %}
<script src="{% static 'js/booking_modal.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/booking_modal.css' %}">
<div
    class="modal fade"
    id="booking_modal"
    tabindex="-1"
>
    <div class="modal-dialog model_adjuster">
        <div class="modal-content model_adjuster">
            <div class="modal_base">
                <div id="booking_modal_error_wrapper">
                    <p class="icon_large">error</p>
                    <p id="booking_modal_error_message" class="p_light">Error message!</p>
                </div>
                {% include 'components/progress_points.html' with progress_data=progress_data%}
                
                <div id="booking_modal_order_info">
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Event</p>
                        <p id="booking_modal_order_info_event" class="p_regular"></p>
                    </div>
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Date</p>
                        <p id="booking_modal_order_info_date" class="p_regular"></p>
                    </div>
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Quantity</p>
                        <p id="booking_modal_order_info_quantity" class="p_regular"></p>
                    </div>
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Delivery</p>
                        <p id="booking_modal_order_info_delivery" class="p_regular"></p>
                    </div>
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Ticket Type</p>
                        <p id="booking_modal_order_info_ticket_type" class="p_regular"></p>
                    </div>
                    <div class="booking_modal_order_info_item">
                        <p class="label_light">Total Price</p>
                        <p id="booking_modal_order_info_total_price" class="p_regular"></p>
                    </div>
                </div>

                <!-- Loading -->
                <div id="booking_modal_loading">
                    <div class="lds-dual-ring"></div>
                </div>

                <!-- Content Page 1 -->
                <div id="booking_modal_content_1" class="booking_modal_main_wrapper">
                    <div class="img_wrapper">
                        <img id="booking_modal_image" alt="event image">
                    </div>
                    <div class="info_and_button_wrapper">
                        <div class="info_wrapper">
                            <h1 id="booking_modal_title" class="h1_semibold" style="font-size: 64px"></h1>
                            <p id="booking_modal_description" class="p_light">Event Description</p>
                            
                            <div class="icon_info_wrapper">
                                <div class="icon_and_text">
                                    <p class="icon_large">pin_drop</p>
                                    <h3 id="booking_modal_location" class="h3_regular"></h3>
                                </div>
                                <div class="icon_and_text">
                                    <p class="icon_large">calendar_month</p>
                                    <h3 id="booking_modal_date" class="h3_regular"></h3>
                                </div>
                            </div>
                        </div>
                        <div class="bottom_wrapper">
                            <div class="entry_fields_wrapper">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Ticket Type</p>
                                    </div>
                                    <select id="ticket_type_select" class="entry_field_body"></select>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Ticket Quantity</p>
                                    </div>
                                    <input id="ticket_amount_entry_field" class="entry_field_body" type="number" min=1 max=10 value=1></input>
                                </div>
                            </div>
                            <div>
                                <button class="button_outlined" onclick="handleDeliveryMethodPage()">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Page 2 -->
                <div id="booking_modal_content_2" class="booking_modal_main_wrapper">
                    <div class="booking_modal_delivery_method_container">
                        <a class="booking_modal_delivery_method_wrapper" onclick="handleDeliveryMethod('postal')">
                            <div class="booking_modal_delivery_method_content">
                                <img src={% static 'images/postal_icon.png' %} alt="Postal delivery icon"/>
                                <h1 class="h1_regular">Get tickets via post mail</h1>
                            </div>
                        </a>
                        <a class="booking_modal_delivery_method_wrapper" onclick="handleDeliveryMethod('email')">
                            <div class="booking_modal_delivery_method_content">
                                <img src={% static 'images/email_icon.png' %} alt="Email delivery icon"/>
                                <h1 class="h1_regular">Get tickets via email</h1>
                            </div>
                        </a>
                    </div>
                    <div class="booking_modal_back_continue_wrapper">
                        <button class="button_outlined back_button" onclick="handleBack(2)">Back</button>
                    </div>
                </div>

                <!-- Content Page 3 -->
                <div id="booking_modal_content_3" class="booking_modal_main_wrapper">
                    
                    <!-- Postal Delivery -->
                    <div id="booking_modal_content_3_p">
                        <div class="booking_modal_entry_field_stack_wrapper">
                            <div class="booking_modal_entry_field_stack">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Country</p>
                                    </div>
                                    <select id="booking_modal_p_country" class="entry_field_body" onchange="populatePostalCity()"></select>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">City</p>
                                    </div>
                                    <select id="booking_modal_p_city" class="entry_field_body" disabled></select>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Postal code</p>
                                    </div>
                                    <input id="booking_modal_p_postal_code" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Street name</p>
                                    </div>
                                    <input id="booking_modal_p_street_name" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">House Number</p>
                                    </div>
                                    <input id="booking_modal_p_house_number" class="entry_field_body"></input>
                                </div>
                            </div>
                            <div class="booking_modal_entry_field_stack">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">First Name</p>
                                    </div>
                                    <input id="booking_modal_p_first_name" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Last Name</p>
                                    </div>
                                    <input id="booking_modal_p_last_name" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Phone Country Code</p>
                                    </div>
                                    <select id="booking_modal_p_phone_country_code" class="entry_field_body"></select>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Phone Number</p>
                                    </div>
                                    <input id="booking_modal_p_phone_number" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Email</p>
                                    </div>
                                    <input id="booking_modal_p_email" class="entry_field_body" type="email"></input>
                                </div>
                            </div>
                        </div>
                        <div class="booking_modal_back_continue_wrapper">
                            <button class="button_outlined back_button" onclick="handleBack(3)">Back</button>
                            <button class="button_outlined" onclick="handleSavePostDeliveryInfo()">Continue</button>
                        </div>
                    </div>

                    <!-- Email Delivery -->
                    <div id="booking_modal_content_3_e">
                        <div class="booking_modal_entry_field_stack_wrapper">
                            <div class="booking_modal_entry_field_stack">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">First Name</p>
                                    </div>
                                    <input id="booking_modal_e_first_name" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Last Name</p>
                                    </div>
                                    <input id="booking_modal_e_last_name" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Email</p>
                                    </div>
                                    <input id="booking_modal_e_email" class="entry_field_body" type="email"></input>
                                </div>
                            </div>

                            <div class="booking_modal_entry_field_stack">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Phone Country Code</p>
                                    </div>
                                    <select id="booking_modal_e_phone_country_code" class="entry_field_body">
                                    </select>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Phone Number</p>
                                    </div>
                                    <input id="booking_modal_e_phone_number" class="entry_field_body"></input>
                                </div>
                            </div>
                        </div>
                        <div class="booking_modal_back_continue_wrapper">
                            <button class="button_outlined back_button" onclick="handleBack(3)">Back</button>
                            <button class="button_outlined" onclick="handleSaveEmailDeliveryInfo()">Continue</button>
                        </div>
                    </div>
                </div>

                <!-- Content Page 4 -->
                <div id="booking_modal_content_4" class="booking_modal_main_wrapper">
                    <div class="booking_modal_payment_wrapper">
                        <div class="booking_modal_entry_field_stack_wrapper">
                            <div class="booking_modal_entry_field_stack">

                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Name on card</p>
                                    </div>
                                    <input id="booking_modal_name_on_card" class="entry_field_body"></input>
                                </div>
                                
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Card Number</p>
                                    </div>
                                    <input id="booking_modal_card_number" class="entry_field_body" type="tel" name="credit-number"></input>
                                </div>
                            </div>

                            <div class="booking_modal_entry_field_stack">
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">Expiration Date</p>
                                    </div>
                                    <input id="booking_modal_expiration_date" class="entry_field_body"></input>
                                </div>
                                <div class="entry_field_main_wrapper">
                                    <div class="entry_field_description">
                                        <p class="label_light">CVC</p>
                                    </div>
                                    <input id="booking_modal_cvc" class="entry_field_body"></input>
                                </div>
                            </div>
                        </div>
    
                        <div class="booking_modal_back_continue_wrapper">
                            <button class="button_outlined back_button" onclick="handleBack(4)">Back</button>
                            <button class="button_outlined" onclick="handleSavePaymentInfo()">Continue</button>
                        </div>
                    </div>
                </div>

                <!-- Content Page 5 -->
                <div id="booking_modal_content_5" class="booking_modal_main_wrapper">
                    <div class="booking_modal_confirm_wrapper">
                        <div class="booking_modal_confirm_column">
                            <h2 class="h3_semibold underline">Event</h2>
                            <div class="booking_modal_confirm_event_info_wrapper">
                                <p id="booking_modal_confirm_event_title" class="p_light">lalalala</p>
                                <p id="booking_modal_confirm_location" class="p_light">lalalala</p>
                                <p id="booking_modal_confirm_date" class="p_light">lalalala</p>
                            </div>

                            <h2 class="h3_semibold underline">Delivery</h2>
                            <div class="booking_modal_confirm_event_info_wrapper">
                                <p id="booking_modal_confirm_delivery_method" class="p_semibold"></p>
                                <div id="booking_modal_confirm_delivery_details"></div>
                            </div>
                        </div>
                        <div class="booking_modal_confirm_column">
                            <h2 class="h3_semibold underline">Payment</h2>
                            <div class="booking_modal_confirm_event_info_wrapper">
                                <p id="booking_modal_confirm_card_name" class="p_light"></p>
                                <p id="booking_modal_confirm_card_number" class="p_light"></p>
                                <p id="booking_modal_confirm_expiration_date" class="p_light"></p>
                                <p id="booking_modal_confirm_cvc" class="p_light"></p>
                            </div>

                            <h2 class="h3_semibold underline">Amount</h2>
                            <div class="booking_modal_confirm_payment_info_wrapper">
                                <div>
                                    <p class="label_light">Ticket Type</p>
                                    <p id="booking_modal_confirm_ticket_type" class="p_light"></p>
                                </div>

                                <div>
                                    <div class="booking_modal_line_item">
                                        <p class="label_light">Ticket Price</p>
                                        <p id="booking_modal_confirm_ticket_price" class="p_light"></p>
                                    </div>
                                    <div class="booking_modal_line_item">
                                        <p class="label_light">Quantity</p>
                                        <p id="booking_modal_confirm_quantity" class="p_light"></p>
                                    </div>
                                    <div class="booking_modal_line_item" style="border-top: 1px solid var(--type-primary);">
                                        <p class="label_bold">Total Price</p>
                                        <p id="booking_modal_confirm_total_price" class="p_bold"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="booking_modal_back_continue_wrapper">
                        <button class="button_outlined back_button" onclick="handleBack(5)">Back</button>
                        <form action="POST" id="confirm-form" onsubmit="return handlePostBooking(event)">
                            {% csrf_token %}
                            <input class="button_outlined" type="submit" value="Confirm">
                        </form>
                    </div>
                </div>

                <!-- Content Page 6: Success Page -->
                <div id="booking_modal_content_6" class="booking_modal_main_wrapper">
                    <div class="booking_modal_success_wrapper">
                        <img src={% static 'images/success_icon.png' %} alt="Postal delivery icon"/>
                        <h1 class="h1_light">Your order has been processed!</h1>
                        <h3 class="h3_light">Thank you for shopping with EventDriven</h3>
                        <button 
                            class="button_outlined success_button"
                            data-bs-toggle="modal"
                            data-bs-target="#booking_modal"
                        >Finish</button>
                    </div>
                </div>

                <!-- Content Page 7: Error Page -->
                <div id="booking_modal_content_7" class="booking_modal_main_wrapper">
                    <div class="booking_modal_success_wrapper">
                        <img src={% static 'images/booking_failed_icon.png' %} alt="Postal delivery icon"/>
                        <h1 class="h1_light">Sorry your order failed!</h1>
                        <h3 id="booking_modal_fail_message" class="h3_light"></h3>
                        <button 
                            class="button_outlined close_button"
                            data-bs-toggle="modal"
                            data-bs-target="#booking_modal"
                        >Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>