{% load static %}
<link rel="stylesheet" href="{% static 'css/info_cards.css' %}">
<div class="for_hover_glow">
    <div class="card">
        <a href="/entertainer/{{entertainer.id}}">
            <div class="image_wrapper">
                <img
                    src="{{ entertainer.image_url }}"
                    class="card_img"
                    alt="Event image"
                />
            </div>
            <div class="card_body">
                <div class="card_content">
                    <h1 class="h2_semibold">{{entertainer.name}}</h1>
                    <div class="description_wrapper">
                        <p class="card-text">{{entertainer.description}}</p>
                    </div>
                </div>
                <div class="card_content">
                    <p class="h3_regular">Next event:</p>
                    <div class="icon_and_text">
                        <p class="icon_large">pin_drop</p>
                        <h3 class="h3_regular">{{entertainer.location_name}}</h3>
                    </div>
                    <div class="icon_and_text">
                        <p class="icon_large">calendar_month</p>
                        <h3 class="h3_regular">{{entertainer.next_event_date}}</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- this is for the popup window -->
</div>
