{% load static %}
<style>
    .contact_info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .footer {
        width: 100%;
        background-color: var(--base-secondary);
        color: var(--type-primary);
        text-align: center;
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        margin-top: auto;
        gap: 20px;
    }
    .contact_info_info {
        min-width: 50px;
    }
</style>
<footer class="footer">
    <div class="contact_info">
        <p class="contact_info_info">Copyright info</p>
        <p class="contact_info_info">Phone nr: +354 123 4567</p>
        <p class="contact_info_info">Email: example@example.com</p>
        <p class="contact_info_info">Open: all working days 08:00-16:00 GMT</p>
        <p class="contact_info_info">Location: Some location</p>
    </div>
</footer>
