{% load static %}
<link rel="stylesheet" href="{% static 'css/info_cards.css' %}">
<div class="for_hover_glow">
    <div class="card">
        <a href="/event/{{event.id}}">
            <div class="image_wrapper">
                <img
                    src="{{ event.main_image_url }}"
                    class="card_img"
                    alt="Event image"
                />
            </div>
            <div class="card_body">
                <h1 class="h2_semibold">{{event.title}}</h1>
                <div class="description_wrapper">
                    <p class="card-text">{{event.description}}</p>
                </div>
                <div class="icon-and-text">
                    <p class="icon_large">pin_drop</p>
                    <h3 class="h4_regular">{{event.location}}</h3>
                </div>
                <div class="icon-and-text">
                    <p class="icon_large">calendar_month</p>
                    <h3 class="h4_regular">{{event.start_date}}</h3>
                </div>
            </div>
        </a>
        <div class="book_button_div">
            <!-- Trigger the modal with a button -->
            <button 
                data-bs-toggle="modal"
                data-bs-target="#booking_modal"
                class="button_outlined button_adjust"
                onclick="handleBookNow({{ event.id }})"
            >
                Book now
            </button>
        </div>
    </div>
    <!-- this is for the popup window -->
</div>
