{% load static %}
<link rel="stylesheet" href="{% static 'css/progress_points.css' %}">

<div id="progress_points_wrapper">
    {% for p_data in progress_data %}
        <a class="progress_point_and_description">
            <div id="{{p_data.tag_id}}" class="progress_point">
                <p class="h3_bold">{{ p_data.id }}</p>
            </div>
            <div class="progress_description">
                <p class="p_light">{{ p_data.description }}</p>
            </div>
        </a>
    {% endfor %}
</div>