{% load static %}
<script src="{% static 'js/user_avatar.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/user_avatar.css' %}">

<a class="user_avatar_main_wrapper" onclick="displayUserOptions()">
    <p class="p_light" >{{user.first_name}} {{user.last_name}}</p>
    <div class="user_avatar_image_wrapper">
        {% if user_details == None %}
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="user image">
        {% else %}
            {% if user_details.profile_img_url == "" %}
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="user image">
            {% else %}
                <img src="{{user_details.profile_image_url}}" alt="user image">
            {% endif %}
        {% endif %}
    </div>
</a>